{% extends "base.html" %}
{% block content %}
<div class = "signup">
    <form method = "post">
      <div class = "container">
        <div class="row">
          <div  class= "col-md-12">
            <h2>Login</h2><br><br><br>
          </div></div>
        <div class = "row">
          Username
        </div>
        <div class="row">
          <input type="text" name="username" value = "{{username}}">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ error_username }}
        </div>
        <div class = "row">
            Password
        </div>
        <div class="row">
            <input type="password" name="password" value=""> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{error_password}}
        </div><br><br>
        <div class = "row">
           <input type = "submit" value = "Login">
        </div>
      </div>
      {% if error %}
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{error}}
    {% endif %}
    </form>
  </div>
  {% endblock %}
